.card-1{
    margin: $espacios-G*2;
    padding: $espacios-G;
    background-color: $color-2;
    color: $color-5;
    text-align: center;
    border-radius: $espacios-G;

& h3{
    font-size: $fuente-h bold;
    margin: $espacios-G*2;
}

& p{
    font-size: $fuente-p+0.5;
    padding: $espacios-G;
}

& img{
    border-radius: 10%;
}
}
.card{
    margin: $espacios-G*2;
    background-color: $color-2;
    color: $color-5;
    & img{
    margin: $espacios-G;
    border-radius: 10%;
    }
    & a{
        color:$color-2;
    }
    }